.register_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    min-height: 70vh;
    width: 100%;
    text-align: center;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}

.error{
    color: #721c24;
    background-color:#f8d7da;
    border: 1px solid #f5c6cb;
    width: 80%;
}

button{
    width: 80%;
}

@media screen and (min-width:720px) {
    .error{
        width: 600px;
    }
}

.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: .5rem;
    color: rgb(22, 21, 21);
    box-shadow: 0 0.3rem #dfd9d9 !important;
}
.input-wrapper input:focus {
    outline-color: rgb(4, 0, 0);
}
.input-wrapper input:focus::placeholder {
    color: transparent;
}
/* @media screen and (min-width:1300px) {
    
} */