.container_post {
    margin: 2rem auto;
    text-align: center;
    min-height: 50vh;
}

.container_post form {
    width: 90vw;
    gap: 1rem;
}

.container_post textarea {
    margin-bottom: 0rem;
}