nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}


nav img {
    width: 80px;
    margin: 2rem;
}

nav ul {
    list-style: none;
    margin: 2rem;
    text-align: start;
}

ul li {
    margin-left: .5rem;
}

.logout_btn{
    padding: 0;
    border: none;
    margin: 0;
    width: 0%;
}

.active {
    background-color: #535bf2;
    color: #ffffff98;
    border-radius: 2px;
    padding: 0 .1rem;
}

.active:hover {
    color: white;
}


@media screen and (min-width:720px) {
    nav ul {
        display: flex;
    }
}