
/*inicio*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 300px;
    padding: 1rem;
    background-color: black;
    color: #c5c5c5;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

hr{
    width: 100%;
}

.contact p,.contact a{
    margin-bottom: .5rem;
}

.social_list{
   list-style: none;
   display: flex;
   justify-content: space-around;
}

.social_list svg,.copy{
    font-size: 1.5rem;
}

/*fim*/

.social_list svg,.copy{
    font-size: 1.5rem;
}

@media screen and (min-width:720px) {
    footer{
        height: 350px;
    }

    .container{
        display: flex;
        flex-direction: row;
    }

    hr{
    width: 0%;
    height: 90%;
}
    
    .social,.contact,.informations{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.34%;
        height: 100%;
        text-align: center;
    }
    
    .contact{
        justify-content: space-between;
    }
    
    .contact p,.contact a{
        margin-bottom: 1rem;
    }

    .phones{
        display: flex;
        flex-direction: column;
    }

    .informations,.social{
        justify-content: space-between;
    }
    
    .social_list{
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 80%;
        height: 100%;
        margin-top: 4rem;
    }
    
    .social_list svg{
        font-size: 1.5rem;
    }
    
    .brand{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .brand p{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .brand p, .brand a{
        margin-bottom: 2rem;
    }

}