nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


nav img{
    width: 80px;
    margin: 2rem;
}

nav ul{
    list-style: none;
    margin: 2rem;
}

.active{
    background-color: #535bf2;
    color: #ffffff98;
}

.active:hover{
    color: white;
}