.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: .5rem;
    color: rgb(22, 21, 21);
    box-shadow: 0 0.3rem #dfd9d9 !important;
    width: 80vw;
}
.input-wrapper input:focus {
    outline-color: rgb(4, 0, 0);
}
.input-wrapper input:focus::placeholder {
    color: transparent;
}