:root {
  --black: #1a1a1a;
}

* {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #222;
  color: whitesmoke;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

form input{
  margin-bottom: 1rem;
  width: 80%;
}

input {
  border: none;
  border: 1px solid var(--black);
  border-radius: 4px;
  padding: 0.4em 1em;

  text-align: center;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

button,input[type=button],input[type=submit] {
  border-radius: 8px;
  border: none;
  padding: 0.8em 1em;
  margin: 1rem 0 0 .2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--black);
  cursor: pointer;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  transition: .4s;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover {
  color: #646cff;
  background-color: #111;
  border-color: #646cff;
}

@media screen and (min-width:720px) {

  form{
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

  form input{
    width: 60%;
  }
}

@media screen and (min-width:1300px) {

  form{
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

  form input{
    width: 50%;
  }
}